html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  font-family: Bevan, serif;
  margin: .3em;
  text-align: center;
}

header {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  width: 100%;
}

body {

}

a {
  display: inline-block;
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  padding: .6em;
  list-style-type: none;
  text-decoration: none;
}

a:hover {
  background-color: #f33;
  text-decoration: none;
}

li {
  display: inline;
  font-family: Arial, serif;
}

nav {
  text-align: center;
}

header nav:last-of-type {
  a:not(.current)
}
