html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
  font-family: Bevan, serif;
  padding-top: .3em;
  text-align: center;
}

body {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  margin: .3em;
  width: 100%;
}

a {
  display: block;
  background-color: #713837;
  border-radius: 5px;
  color: #fff;
  padding: .6em;
  list-style-type: none;
  text-decoration: none;
}

a:last-of-type {
  display: inline-block;
  margin-top: .3em;
}

a:hover {
  background-color: #f33;
  text-decoration: none;
}

li {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

nav {
  text-align: center;
}

.planets {
  margin-bottom: .3em;
  padding-bottom: .5em;
}
