html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  display: block;
}

div {
  display: inline-block;
}

a {
  display: inline-block;
  border-radius: 10px;
}
